name: こうしん

on:
  schedule:
    - cron: "0 4 4-29/10 * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: "3.10"
    - run: |
        python -m pip install --upgrade pip
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi
    - name: Change the link
      if: always()
      env:
          user: ${{ secrets.USER }}
          token: ${{ secrets.TOKEN }}
      run: |
          python3 -u renew.py

